x# OpenRAM outputs
openram/outputs/*.gds
openram/outputs/*.sp
openram/outputs/*.v
openram/outputs/*.lib
openram/outputs/*.lef
openram/outputs/*.log
openram/outputs/*.html
openram/outputs/*.lvs
openram/outputs/*.py
openram/logs/*.log

# Simulation raw files
verification/simulations/*.raw
verification/simulations/*.txt
*.raw
*.ps

# Python cache
__pycache__/
*.pyc
*.pyo

# ngspice
*.log
openram/openram_env/
openram/logs/
openram/outputs/
